<div id="app" v-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="offer" v-for="offer in offerObj.data.offers">

          <div class="">
            \{{offer.id}}
          </div>

          <div v-for="slice in offer.slices">
            <div v-for="(segment, index) in slice.segments">
              <div class="">
                \{{index + 1}}. \{{segment.origin.iata_code}} to \{{segment.destination.iata_code}} (\{{segment.departing_at}}) Airline: \{{segment.operating_carrier.name}}
              </div>


            </div>
            <div class="">
              \{{slice.duration.replace("PT", "")}}
            </div>


          </div>
          <div class="">
            \{{offer.total_amount}} \{{offer.base_currency}}
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
